
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');



.foot{

    color: yellow;
    font-size: 17px;
    overflow: hidden;
}
.footm{
    font-family: 'Fasthand', cursive;
}

