@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');


span{
    font-size: 39px;
}
.head{
    color: yellow;
    font-family: 'Fasthand', cursive;
    
}
.blah{
    color: yellow;
}